@{
	Layout = "_Layout";
}
@section Title {
	Danh sach the loai
}
<div class="text-end mb-3">
    <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle me-1"></i> Thêm thể loại
    </a>
</div>


