@using System.Globalization;
@using BaiTap_03_23WebC_Nhom10.Service;
@using BaiTap_03_23WebC_Nhom10.Models;
@{

    var products = Context.Items["products"] as List<Product> ?? new List<Product>();

    var culture = new CultureInfo("vi-VN");
}

<div class="single-sidebar">
    <h2 class="sidebar-title">Products</h2>
    @foreach (var p in products.Take(3))
    {

        double discountedPrice = p.DonGia * (1 - p.DonGiaKhuyenMai);
        string formattedDiscountedPrice = discountedPrice.ToString("N0", culture);
        string formattedOriginalPrice = p.DonGia.ToString("N0", culture);

        <div class="thubmnail-recent">
            <img src="~/img/@p.HinhAnh" class="recent-thumb" alt="">
            <h2><a asp-controller="product" asp-action="detail" asp-route-id="@p.MaSp">@p.TenSp</a></h2>

            <div class="product-sidebar-price">
                @if (p.DonGiaKhuyenMai > 0)
                {
                    <ins>@formattedDiscountedPrice VNĐ</ins>

                    <del>@formattedOriginalPrice VNĐ</del>
                }
                else
                {
                    <ins>@formattedOriginalPrice VNĐ</ins>
                }
            </div>
        </div>
    }
</div>